/* color pallete
#292f36 dark 
#4ecdc4 turq
#FFE66D yellah
#FF6B6B red
#396E94 royal 

/* centering styles */
#content{
    max-width:1600;
    margin: 0 auto;
}

nav a {
    text-align: center;

}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #292f36;
}

body{
    background-color: #4ecdc4;
}
header{
    background-color: #292f36;
}
nav a:hover{
    background-color: #FF6B6B;
}
.book, .join{
    background-color:
}
.book:hover, .join:hover{
    background-color:#FFE66D;
}
#background{
    background-color:#292f36;
}
.msg{
    background-color:#FF6B6B;
}
footer{
    background-color:#FFE66D;
}