@import url('https://fonts.googleapis.com/css2?family=Akatab&family=Carter+One&family=DM+Serif+Display&family=Inclusive+Sans&family=Mooli&family=Righteous&display=swap');

nav a {
    background-color:#36c9c6;
    text-decoration:none;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 10px;
    padding:10px;
    color:white;
    text-align: center;
    align-items:center;
    font-size: 1em;
    font-family: Mooli;

}

nav{
    display: flex;
    justify-content: space-around;
    padding-top:30px;
    padding-bottom: 30px;
    font-family: 'Akatab';
}

nav a:hover{
    color:#f4f1bb;
    border:#ff6b6b;
    border-radius: 2px;
    transform: scale(1.1);
    transition: transform .5s;
}

header{
    background-color: #493076;
    display: grid;
    grid-template-columns: 150px auto;
}