@import url('https://fonts.googleapis.com/css2?family=Akatab&family=Carter+One&family=DM+Serif+Display&family=Inclusive+Sans&family=Mooli&family=Righteous&family=Roboto&display=swap');


/* color pallette */

/* 
#0D3B66 yale blue 
#FAF0CA tan 
#F4D35E yellow
#EE964B orange 
#F95738 tomato
 */
/* 
background: #FDC830;  fallback for old browsers 
background: -webkit-linear-gradient(to top, #F37335, #FDC830);  
background: linear-gradient(to top, #F37335, #FDC830);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* #cover {
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
    background: linear-gradient(to top, #F37335, #FDC830);
    
} */

nav a {
    background-color:#FAF0CA;
    text-decoration:none;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 10px;
    padding:10px;
    color:#F95738;
    text-align: center;
    align-items:center;
    font-size: 1.3em;
    
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top:30px;
    padding-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #0D3B66;

}

nav a:hover{
    color:#EE964B;
    border:#F95738;
    border-radius: 2px;
    transform: scale(1.1);
    transition: transform .5s;
}
/* gradient */
body{
    /* background: linear-gradient(to top, #FAF0CA, #F95738); */
    background: linear-gradient(to top, #ff512f, #dd2476);
    /* background: linear-gradient(to top, #F37335, #FDC830); */

  padding: 0px;
  margin: 0px;
}

#gradient{
 width: 100%;
 height: 500px;
 padding: 0px;
 margin: 0px;
}

.h1-f {
    color:white;
    margin: 0 auto;
    text-align: center;
    font-size: 5em;
}

.h2-f {
    color:white;
    margin: 0 auto;
    text-align: center;
    font-size: 3.5em;
}
#cover {
    margin:0 auto;
    padding:50px;
}

.box1 {
    background:white;
    color:#F95738;
    width:500px;
    padding:20px;
    margin:0 auto;
    margin-top:50px;
    /* overflow: scroll; */
}

.h2i {
    margin-top:35px;
    color:white;
    text-align: center;
    font-size: 3em;
}
/* h2 {
    margin-top:35px;
    color:#ff512f;
    font-size: 3em;
} */
p {
    color:#ff512f;
    font-size: 1.5em;
    text-align: center;
    font-family: Roboto ;
    line-height: 1.3em;
}

.inline {
    color:#ff512f;
}
.inline:hover {
    color: #0D3B66;
}



/* CSS */
.button-53 {
  background-color: white;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  margin-top:250px;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:0 auto;
}

.button-53:focus {
  outline: 0;
}

/* .button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
} */

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }


/* codepen button */
.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  .f-a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: white;
    text-align: center;
    color: #dd2476;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* border: 3px solid #; */
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: white;
    transition: all .35s;
  }
  
  a:hover{
    width: 200px;
    border: 3px solid white;
    background: transparent;
    color: white;
  }
  
  a:hover + .icon{
    border: 3px solid white;
    right: -25%;
  }